<page-header [title]="'名单管理'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">Sector: </nz-form-label>
          <nz-form-control>
            <input nz-input name="sector" placeholder="please input" id="no">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">Filter: </nz-form-label>
          <nz-form-control>
            <input nz-input name="filter" placeholder="please input" id="no">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">Keywords: </nz-form-label>
          <nz-form-control>
            <input nz-input name="Keywords" placeholder="please input" id="no">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="24" [class.text-right]="true">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="getData()" class="mx-sm">重置</button>
      </nz-col>
    </nz-row>
  </form>
  <button nz-button (click)="openEdit()" [nzType]="'primary'">
    <i nz-icon type="plus"></i>
    <span>新建</span>
  </button>
  <ng-container *ngIf="selectedRows.length>0">
    <button nz-button class="ml-sm">批量操作</button>
    <nz-dropdown [nzPlacement]="'bottomLeft'">
      <button nz-button nz-dropdown class="ml-sm">
        更多操作
        <i nz-icon type="down"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item (click)="remove()">删除</li>
      </ul>
    </nz-dropdown>
  </ng-container>
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        已选择
        <strong class="text-primary">{{selectedRows.length}}</strong> 项
        <a *ngIf="totalCallNo > 0" (click)="st.clearCheck()" class="ml-lg">清空</a>
      </ng-template>
    </nz-alert>
  </div>
  <st #st [columns]="columns" [data]="data" [loading]="loading" (checkboxChange)="checkboxChange($event)"
    (filterChange)="getData()">
    <ng-template st-row="status" let-i>
      <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
    </ng-template>
  </st>
  <!-- <ng-container >
    <button nz-button class="ml-sm">批量操作</button>
    <button nz-button class="ml-sm" (click)="remove()">删除</button>
  </ng-container> -->
</nz-card>